:root {
  --font-base: "Roboto", sans-serif;

  --primary-color: #F7F5EB;
  --secondary-color: #A0C3D2;
  --third-color: #EAC7C7;
  --text-color: #579BB1;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --white-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}